{%extends 'base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap4 %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <title>New Profile</title>
  {{form.media}}

<div class="card mx-auto" style="max-width:50rem; margin-top:50px;">
  <form  action="{%url 'add_profile'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input type="submit" class="btn btn-success btn-lg" value="Post">
  </form>
</div>
   {% block scripts %}
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  {% bootstrap_javascript %}
{% endblock %}
{% endblock %}